body {
    overflow-x: hidden;
}

section.wrapper {

}

img {
    max-width: 100%;
}

header {
    background-color: #252536;
    margin: 0px;
    padding: 8px;
    position: relative;
    width: 100%;
    z-index: 25;
}

header .navbar {
    margin-bottom: 0px;
}

header .navbar-nav a {
    color: #fff;
}

header a.navbar-brand {
    width: 85px;
    padding-top: 0px;
}

header .navbar-nav li a:hover,
header .navbar-nav li a:focus,
header .navbar-nav li a:visited {
    background-color: transparent;
}

header .navbar .navbar-toggle {
    background: #f710ae;
}

header .navbar .navbar-toggle .icon-bar {
    background: #fff;
}

.hero {
    width: 100%;
    height: 600px;
    background-color: #DB5A6B;
    background-size: cover;
    position: relative;
}

.hero .display-text {
    background: #fff;
    /*width: 340px;*/
    padding: 36px 40px;
    position: absolute;
    bottom: 100px;
    left: 80px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
}

.hero .display-text p {
    margin: 0px;
}

a.cust-btn {
    line-height: 18px;
    border: none;
    margin: 0px;
    padding: 19px 30px;
    font-weight: 400;
    font-size: 18px;
    z-index: 10;
    white-space: nowrap;
    text-align: left;
    background: #1da920;
    text-decoration: none;
    color: #fff;
}

a.cust-btn.alt {
    background: #DB5A6B;
}

.main-content {
    text-align: center;
    padding: 80px 0px 0px;
}

.main-content h1.title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-top: 0px;
}

.main-content .mini-text {
    color: #afafaf;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
    margin-bottom: 50px;
}

.main-content .services,
.main-content .featured {
    margin-top: 30px;
    padding: 20px 20px 50px;

}

.services span.service-icon {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #DB5A6B;
    display: block;
    color: #fff;
    line-height: 190px;
    text-align: center;
    margin: 10px auto;
}
.about-block {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}
.about-block .pic {
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
}
.about-block p {
    text-align: left;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
}
.services span.service-icon i {
    font-size: 77px;
}
.services.bottom .service {
    border-bottom: 2px solid #ececec;
    padding-bottom: 20px;
}
.services .service {
    margin-bottom: 80px;
}

.service h2.heading {
    color: #252536;
    text-transform: uppercase;
}

.service p.description {
    color: #757575;
    font-size: 15px;
    font-weight: 200;
    text-align: left;
}

.main-content .featured {
    background-color: #2e2e42;
    margin-top: 20px;
    color: #e6e6e6;
    padding-bottom: 50px;
    padding-top: 50px;
}

.featured h2.heading {
    color: #e6e6e6;
}

.featured p.description {
    color: #a9a9a9;
}

.testimonial {
    background-color: #ececec;
    padding-bottom: 50px;
    padding-top: 50px;
}

.testimonial .testify {
    background: #fff;
    padding: 20px;
    margin: 80px 10px;
}

.testimonial .testify:first-child {
    margin-left: 20px;
}

.testify .image {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: -80px auto auto;
    overflow: hidden;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .15);
}

.testify h2.heading {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 2px;
}

.testify span.job {
    color: #b8b8b8;
}

.testify p {
    margin-top: 20px;
    color: #777;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

.banner {
    background: #DB5A6B;
    padding: 10px;
}

.banner .inner-banner {
    /*width: 0%;*/
    padding: 65px 0px;
    border: 1px solid rgba(255, 255, 255, .15);
    margin: auto;
}

.inner-banner h1 {
    font-size: 60px;
    color: #e6e6e6;
}

.inner-banner p {
    font-size: 20px;
    letter-spacing: 2px;
    color: #dfdfdf;
}

.inner-banner a.cust-btn {
    margin-top: 20px;
    display: inline-block;
    background: #cf374b;
}

.inner-banner a.cust-btn:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .15);
}

footer {
    background: #f1f1f1;
    padding: 50px;
    text-align: left;
}

footer h1 {
    font-size: 16px;
    font-weight: 600;
    color: #3f3f3f;
}

footer p {
    color: #787878;
    font-weight: 500;
}

.social a {
    display: inline-block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}



.social a i {
    font-size: 20px;
}

.social a.facebook {
    color: #3d5b99;
}

.social a.facebook:hover {
    color: #fff;
    background: #3d5b99;
}

.social a.twitter {
    color: #00aced;
}

.social a.twitter:hover {
    background: #00aced;
    color: #fff;
}

.social a.instagram {
    color: #e95950;
}

.social a.instagram:hover {
    background: #e95950;
    color: #fff;
}


.copyright {
    background: #eaeaea;
    text-align: center;
    color: #767676;
    padding: 52px 0px 40px 0px;
}

.copyright p {
    margin-bottom: 0px;
}

@media only screen and (max-width: 750px) {
    .hero .display-text {
        width: 90%;
        left: 5%;
        bottom: 10%;
    }

    .hero .display-text p {
        font-size: 20px;
    }
}

.profile p {
    text-align: left;
    font-size: 18px;
}

.services #map {
    width: 100%;
    height: 400px;
    float: left;
}